In [3]:
import pandas as pd

In [2]:
df_0=pd.read_csv('only_train.csv')

In [3]:
df_1=pd.read_csv('only_cv.csv')

In [4]:
df_0.head(5)
df_0.shape

(134281, 14)

In [5]:
df_1.head(5)
df_1.shape

(2148, 14)

In [10]:
df=df_0.sample(2148,random_state=1)

In [11]:
df.head(5)

,id,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
89013,90418,L49271,L,299.5,309.2,1399,47.4,20,0,0,0,0,0,0
101386,103002,L53040,L,301.3,311.0,1497,45.5,84,0,0,0,0,0,0
307,313,L49571,L,299.2,308.4,1447,46.6,145,0,0,0,0,0,1
18986,19270,L50381,L,300.2,309.0,1479,47.0,22,0,0,0,0,0,0
71203,72337,M18986,M,302.0,310.7,1512,37.5,5,0,0,0,0,0,0

In [12]:
df_final_test=pd.concat([df, df_1])

In [13]:
df_final_test.shape

(4296, 14)

In [14]:
df_final_test['Machine failure'].value_counts()

0    2148
1    2148
Name: Machine failure, dtype: int64

In [15]:
df_final_test.to_csv('final_test_data.csv',index=False)

In [16]:
df_0.shape

(134281, 14)

In [17]:
df_final_train = df_0.merge(df, how='outer', indicator=True).loc[lambda x: x['_merge'] == 'left_only'].drop('_merge', axis=1)

In [19]:
df_final_train.shape

(132133, 14)

In [24]:
df_final_train['Machine failure'].value_counts()

0    132133
Name: Machine failure, dtype: int64

In [20]:
134281-132133

2148

In [26]:
df_final_train.to_csv('final_train_data.csv',index=False)

In [4]:
df=pd.read_csv('final_test_data.csv')

In [5]:
df.shape

(4296, 14)

In [6]:
df_r=df.sample(2000,random_state=2)

In [10]:
df_r['Machine failure'].value_counts()

1    1009
0     991
Name: Machine failure, dtype: int64

In [11]:
df_r.to_csv('final_test_data_.csv',index=False)

In [12]:
df_final_cv = df.merge(df_r, how='outer', indicator=True).loc[lambda x: x['_merge'] == 'left_only'].drop('_merge', axis=1)

In [13]:
df_final_cv.shape

(2296, 14)

In [14]:
2296+1009+991

4296

In [15]:
df_final_cv.to_csv('final_cv_data_.csv',index=False)